<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <!--link rel='stylesheet' href='public/stylesheets/bootstrap.min.css'-->
</head>
<body>

  <h2>Search product</h2>
  <br/><br/>
  <form action='/products/search' method='POST'>
    <span><b>Name : </b><input type='text' name='name'></span>
    <span><button type='submit'>Search</button></span>
  </form>
</body>
</html>
