# folders to ignore
20-21/semester1/Design Patterns 
20-21/semester1/IoT/UnoArduSimV2.8.2 
20-21/semester1/JAVA
20-21/semester1/SAP 
19-20
20-21/semester1/WebFrameworks/ReactJS/ReactJS-Products-Oplossing
20-21/semester2/Webservices/Oplossingen
20-21/semester2/Software Analysis

node_modules/

