# folders to ignore
19-20/TI
19-20/EAICT/Programming Principles
19-20/EAICT/Electronic Fundamentals
19-20/EAICT/Digital Fundamentals
19-20/EAICT/Web Technology/Lesopdracht 1/covid19

20-21/semester1/Design Patterns 
20-21/semester1/IoT/UnoArduSimV2.8.2 
20-21/semester1/JAVA
20-21/semester1/SAP 
20-21/semester1/WebFrameworks/ReactJS/ReactJS-Products-Oplossing
20-21/semester2/Webservices/Oplossingen
20-21/semester2/Software Analysis
20-21/semester2/Database programming
20-21/semester2/Herexamen WS

21-22/semester1/3dGameProgramming

node_modules/

