<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Movies</title>
    </head>
    <body>
    <div>
        <h2>Edit a movie</h2>
        <br/><br/>
       <form action='/movies/edit' method='GET'>
        <table>
            <!--tr><td>ID : </td><td><input type='text' name='id'></td></tr-->
            <tr><td>Name : </td><td><input type='text' name='name'></td></tr>
            <tr><td>Year : </td><td><input type='text' name='year'></td></tr>
            <tr><td>Rating : </td><td><input type='text' name='rating'></td></tr>
            <tr><td><button type='submit'>Edit</button></td></tr>
            <tr><td><button action='/' type='submit'>Back</button></td></tr>
        </table>
        <input type='hidden' name='type' value='movie'>
    </form>
    </div>
    </body>
</html>