<div class='container'>
    <h1 class="display-4">Search Movie</h1>
    <br /><br />
  
    <form [formGroup]="movie" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter movie name"
          formControlName="name" />
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!movie.valid" >Search</button>
    </form>
  
  <br /><br />
    <h2 class="display-4"> Result</h2>
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Id</th>
          <th scope="col">Year</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let movie of movies'>
          <td [routerLink]="['/edit', movie.name]">{{ movie.name }}</td>
          <td>{{ movie.id }}</td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.rating }}</td>
          <td><a [routerLink]="['/delete', movie.name]">Delete</a></td>
        </tr>
      </tbody>
    </table>
  <br />
  </div>