<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>html-template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            padding-top: 4.5rem;
        }

        .card {
            display: inline-block;
        }
    </style>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Nav</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Active link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">None-active link</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>Header</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a varius libero. Duis egestas sapien sit amet ligula condimentum, nec pretium nisi posuere. Ut in orci eget turpis imperdiet facilisis sed at urna. Sed ultrices nisi mi, malesuada finibus ex elementum in. Donec in ullamcorper mauris, dictum porttitor odio. Phasellus.</p>
            <a class="btn btn-primary" href="https://getbootstrap.com/docs/4.0/components/buttons/" role="button" target="_blank">Bootstrap buttons</a>
            <a class="btn btn-primary" href="https://getbootstrap.com/docs/4.0/components/button-group/" role="button" target="_blank">Button groups</a>
        </div>

        <!-- Cards -->
        <!-- To display cards next to each other use ".card { display: inline-block; }" in the css -->
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" alt="Bootstrap-logo">
            <div class="card-body">
              <h5 class="card-title">Bootstrap cards</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<p>
              <a href="https://getbootstrap.com/docs/4.0/components/card/" class="btn btn-primary" role="button" target="_blank">Bootstrap cards</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" alt="Bootstrap-logo">
            <div class="card-body">
              <h5 class="card-title">Bootstrap carousel</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<p>
              <a href="https://getbootstrap.com/docs/4.0/components/carousel/" class="btn btn-primary" role="button" target="_blank">Bootstrap carousels</a>
            </div>
        </div>
    </main>

    <!-- Dependicy scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Own script -->
    <script src=""></script>
</body>

</html>