<div class='container'>
  <h1 class="display-4">All Products</h1>

  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of products'>
        <td><a [routerLink]="['/edit', product.name]">{{ product.name }}</a></td>
        <td>{{ product.brand }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td><i ><a [routerLink]="['/delete', product.name]" class="fa fa-trash-o" style="font-size:25px; color: red"></a></i></td>
      </tr>
    </tbody>
  </table>
</div>