#display { 
    height: auto; 
    width: 99vw; 
    position: relative; 
}
.star {
    margin: 50px 0;
    position: absolute;
    display: block;
    color: rgb(255, 187, 0);
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(255, 187, 0);
    border-left: 10px solid transparent;
}
#star{
    display: none;
}
